<a href="https://colab.research.google.com/github/anstjsdud/pdm07/blob/master/py-pandas/pandas_2_handling_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab



---

## [2] Handling DataFrame
- head()
- tail()
- describe()
- info()

In [2]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20200928', periods=6)
dates

DatetimeIndex(['2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01',
               '2020-10-02', '2020-10-03'],
              dtype='datetime64[ns]', freq='D')

In [3]:
# head()
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df.head()

                   A         B         C         D
2020-09-28  0.519546  0.217810  0.743352 -0.858047
2020-09-29 -1.247344 -0.669366  0.645767  0.003206
2020-09-30 -0.600034  1.277226  2.752008  0.337295
2020-10-01  0.633616 -0.235817 -0.232997 -0.632426
2020-10-02 -0.167198  0.174295  2.282548 -0.544296

In [4]:
df.head(2)

                   A         B         C         D
2020-09-28  0.519546  0.217810  0.743352 -0.858047
2020-09-29 -1.247344 -0.669366  0.645767  0.003206

In [5]:
df.tail(3)

                   A         B         C         D
2020-10-01  0.633616 -0.235817 -0.232997 -0.632426
2020-10-02 -0.167198  0.174295  2.282548 -0.544296
2020-10-03  1.933270 -0.843406  0.302078  0.083472

In [6]:
# Display the index, columns, and the underlying NumPy data:
df.index

DatetimeIndex(['2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01',
               '2020-10-02', '2020-10-03'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2020-09-28 to 2020-10-03
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [8]:
# describe() shows a quick statistic summary of your data:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.178643 -0.013210  1.082126 -0.268466
std    1.110073  0.764601  1.172409  0.473449
min   -1.247344 -0.843406 -0.232997 -0.858047
25%   -0.491825 -0.560979  0.388000 -0.610394
50%    0.176174 -0.030761  0.694560 -0.270545
75%    0.605098  0.206931  1.897749  0.063405
max    1.933270  1.277226  2.752008  0.337295

In [9]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [10]:
# Transposing your dataframe:
df.T

   2020-09-28  2020-09-29  2020-09-30  2020-10-01  2020-10-02  2020-10-03
A    0.519546   -1.247344   -0.600034    0.633616   -0.167198    1.933270
B    0.217810   -0.669366    1.277226   -0.235817    0.174295   -0.843406
C    0.743352    0.645767    2.752008   -0.232997    2.282548    0.302078
D   -0.858047    0.003206    0.337295   -0.632426   -0.544296    0.083472

In [11]:
df.T.index

Index(['A', 'B', 'C', 'D'], dtype='object')

### Sorting

#### Sort by index
- sort_index(axis=0, ascending=False)
- sort_index(axis=1, ascending=False)

> Axis=0 Column-Wise Operation (수직으로)

> Axis=1 Row-Wise Operation (수평으로)

In [12]:
# Sorting by an axis:
df, df.sort_index(axis=0) #, ascending=False)

(                   A         B         C         D
 2020-09-28  0.519546  0.217810  0.743352 -0.858047
 2020-09-29 -1.247344 -0.669366  0.645767  0.003206
 2020-09-30 -0.600034  1.277226  2.752008  0.337295
 2020-10-01  0.633616 -0.235817 -0.232997 -0.632426
 2020-10-02 -0.167198  0.174295  2.282548 -0.544296
 2020-10-03  1.933270 -0.843406  0.302078  0.083472,
                    A         B         C         D
 2020-09-28  0.519546  0.217810  0.743352 -0.858047
 2020-09-29 -1.247344 -0.669366  0.645767  0.003206
 2020-09-30 -0.600034  1.277226  2.752008  0.337295
 2020-10-01  0.633616 -0.235817 -0.232997 -0.632426
 2020-10-02 -0.167198  0.174295  2.282548 -0.544296
 2020-10-03  1.933270 -0.843406  0.302078  0.083472)

In [13]:
df,df.sort_index(axis=1, ascending=False)

(                   A         B         C         D
 2020-09-28  0.519546  0.217810  0.743352 -0.858047
 2020-09-29 -1.247344 -0.669366  0.645767  0.003206
 2020-09-30 -0.600034  1.277226  2.752008  0.337295
 2020-10-01  0.633616 -0.235817 -0.232997 -0.632426
 2020-10-02 -0.167198  0.174295  2.282548 -0.544296
 2020-10-03  1.933270 -0.843406  0.302078  0.083472,
                    D         C         B         A
 2020-09-28 -0.858047  0.743352  0.217810  0.519546
 2020-09-29  0.003206  0.645767 -0.669366 -1.247344
 2020-09-30  0.337295  2.752008  1.277226 -0.600034
 2020-10-01 -0.632426 -0.232997 -0.235817  0.633616
 2020-10-02 -0.544296  2.282548  0.174295 -0.167198
 2020-10-03  0.083472  0.302078 -0.843406  1.933270)

#### Sort by value
- sort_values(by='column')

In [14]:
# Sorting by values:
df,df.sort_values(by='B') #, ascending=False)

(                   A         B         C         D
 2020-09-28  0.519546  0.217810  0.743352 -0.858047
 2020-09-29 -1.247344 -0.669366  0.645767  0.003206
 2020-09-30 -0.600034  1.277226  2.752008  0.337295
 2020-10-01  0.633616 -0.235817 -0.232997 -0.632426
 2020-10-02 -0.167198  0.174295  2.282548 -0.544296
 2020-10-03  1.933270 -0.843406  0.302078  0.083472,
                    A         B         C         D
 2020-10-03  1.933270 -0.843406  0.302078  0.083472
 2020-09-29 -1.247344 -0.669366  0.645767  0.003206
 2020-10-01  0.633616 -0.235817 -0.232997 -0.632426
 2020-10-02 -0.167198  0.174295  2.282548 -0.544296
 2020-09-28  0.519546  0.217810  0.743352 -0.858047
 2020-09-30 -0.600034  1.277226  2.752008  0.337295)

## indexing and slicing of DataFrame

#### Selecting data by indexing and slicing
- indexing
- slicing

In [15]:
# Selecting a single column, which yields a Series
df['A']

2020-09-28    0.519546
2020-09-29   -1.247344
2020-09-30   -0.600034
2020-10-01    0.633616
2020-10-02   -0.167198
2020-10-03    1.933270
Freq: D, Name: A, dtype: float64

### 그러면 열-A, B를 다 선택하려면?

In [18]:
df[['A','B']] #df['A','B']

                   A         B
2020-09-28  0.519546  0.217810
2020-09-29 -1.247344 -0.669366
2020-09-30 -0.600034  1.277226
2020-10-01  0.633616 -0.235817
2020-10-02 -0.167198  0.174295
2020-10-03  1.933270 -0.843406

In [20]:
# Selecting via [], which slices the rows.
df[0:3]

                   A         B         C         D
2020-09-28  0.519546  0.217810  0.743352 -0.858047
2020-09-29 -1.247344 -0.669366  0.645767  0.003206
2020-09-30 -0.600034  1.277226  2.752008  0.337295

In [17]:
df['20200928':'20201001'] # 인덱스가 아닌 값인 경우는 지정된 범위가 다 선택된다.

                   A         B         C         D
2020-09-28  0.519546  0.217810  0.743352 -0.858047
2020-09-29 -1.247344 -0.669366  0.645767  0.003206
2020-09-30 -0.600034  1.277226  2.752008  0.337295
2020-10-01  0.633616 -0.235817 -0.232997 -0.632426

#### Selecting data by label

> **loc, iloc**

In [21]:
df

                   A         B         C         D
2020-09-28  0.519546  0.217810  0.743352 -0.858047
2020-09-29 -1.247344 -0.669366  0.645767  0.003206
2020-09-30 -0.600034  1.277226  2.752008  0.337295
2020-10-01  0.633616 -0.235817 -0.232997 -0.632426
2020-10-02 -0.167198  0.174295  2.282548 -0.544296
2020-10-03  1.933270 -0.843406  0.302078  0.083472

In [23]:
dates[0]

Timestamp('2020-09-28 00:00:00', freq='D')

In [24]:
df.loc[dates[0]]   # loc()

A    0.519546
B    0.217810
C    0.743352
D   -0.858047
Name: 2020-09-28 00:00:00, dtype: float64

In [ ]:
# Selecting on a multi-axis by label:
df.loc[:,['A','B']]

#### [도전코딩]

> Select data for first two days AND comumn 3,4 from df.

In [25]:
df[0:2]

                   A         B         C         D
2020-09-28  0.519546  0.217810  0.743352 -0.858047
2020-09-29 -1.247344 -0.669366  0.645767  0.003206

In [27]:
#df.loc[0:2,['C','D']]
#df.loc['20200928':'20200930',['C','D']]
df.loc[dates[:2],['C','D']]

                   C         D
2020-09-28  0.743352 -0.858047
2020-09-29  0.645767  0.003206

#### Selecting data by position (iloc())
- index 사용

In [28]:
df

                   A         B         C         D
2020-09-28  0.519546  0.217810  0.743352 -0.858047
2020-09-29 -1.247344 -0.669366  0.645767  0.003206
2020-09-30 -0.600034  1.277226  2.752008  0.337295
2020-10-01  0.633616 -0.235817 -0.232997 -0.632426
2020-10-02 -0.167198  0.174295  2.282548 -0.544296
2020-10-03  1.933270 -0.843406  0.302078  0.083472

In [29]:
df.iloc[3]  # 결과는 차원축소형으로 표현됨.

A    0.633616
B   -0.235817
C   -0.232997
D   -0.632426
Name: 2020-10-01 00:00:00, dtype: float64

In [30]:
# [다시 도전]
# Select data for first two days AND comumn 3,4 from df.
# Use iloc
df.iloc[:2,2:4]

                   C         D
2020-09-28  0.743352 -0.858047
2020-09-29  0.645767  0.003206

In [31]:
# Select one item
df.iloc[1,1] #20200929. B

-0.6693659530364563

#### Selecting data by Boolean indexing

In [32]:
df

                   A         B         C         D
2020-09-28  0.519546  0.217810  0.743352 -0.858047
2020-09-29 -1.247344 -0.669366  0.645767  0.003206
2020-09-30 -0.600034  1.277226  2.752008  0.337295
2020-10-01  0.633616 -0.235817 -0.232997 -0.632426
2020-10-02 -0.167198  0.174295  2.282548 -0.544296
2020-10-03  1.933270 -0.843406  0.302078  0.083472

In [33]:
df[df.A > 0]

                   A         B         C         D
2020-09-28  0.519546  0.217810  0.743352 -0.858047
2020-10-01  0.633616 -0.235817 -0.232997 -0.632426
2020-10-03  1.933270 -0.843406  0.302078  0.083472

In [34]:
df[df > 0]

                   A         B         C         D
2020-09-28  0.519546  0.217810  0.743352       NaN
2020-09-29       NaN       NaN  0.645767  0.003206
2020-09-30       NaN  1.277226  2.752008  0.337295
2020-10-01  0.633616       NaN       NaN       NaN
2020-10-02       NaN  0.174295  2.282548       NaN
2020-10-03  1.933270       NaN  0.302078  0.083472